<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <div class="container mt-4">
        <h4>Conntacto</h4>
        <p>Si necesitas ayuda, nuestro equipo de expertos estará a tu disposición para responder todas tus preguntas, ayudarte con tus pedidos o facilitarte consejos de estilo e ideas para regalos. No dudes en ponerte en contacto con nosotros, estamos a tu disposición.</p>
        <h5>LLÁMANOS</h5>
        <p>Si deseas comprar una creación Cartier por teléfono, solicitar información personalizada sobre joyería y relojería o solicitar ayuda con tu pedido.

            De lunes a viernes: 10:00 - 19:00 h
            
            Tel.800 847 0217
        </p>
    </div>

    <%- include('includes/footer.ejs') %>