<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <div class="container mt-4">
        <h1>Sobre Nosotros</h1>
        <p>Soy una alumna de 4to semestre de ingeniería que con unas semanas de preparación va a intentar copiar algunas partes de la página de cartier, pero aún falta darle estilo.</p>
    </div>

    <%- include('includes/footer.ejs') %>