<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <div class="container mt-4">
        <h1>Magnitude</h1>
        <h6>Asociación de materiales, oposición de contrastes: la colección Magnitude de Cartier crea el encuentro de las piedras preciosas y las piedras ornamentales. Una combinación inusual en Alta Joyería, un trazo de estilo y personalidad que Cartier explora un balance constante entre la técnica y la creatividad.</h6>
        <ul class="list-group">
            <li class="list-group-item">ÉQUINOXE</li>
            <li class="list-group-item">THIEA</li>
            <li class="list-group-item">SORELI</li>
        </ul>
    </div>

    <%- include('includes/footer.ejs') %>