<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <div class="container mt-4">
        <h1>Servicios</h1>
        <h6>En Cartier, el servicio es un arte. Consejos, mantenimiento, reparación, ajuste o personalización: la Maison se compromete a crear un vínculo de confianza único, rico y activo con cada uno de sus clientes y a construirlo a lo largo del tiempo. Para que cada momento sea un encuentro entre tú y Cartier.</h3>
    </div>

    <%- include('includes/footer.ejs') %>