<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Ingresa tu nombre</h1>

  <section class="contenedor">
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Tu nombre" required>
      <button type="submit">Entrar</button>
    </form>
    <a href="/">Volver al inicio</a>
  </section>
</body>
</html>