<%- include('includes/head.ejs') %>

<div class="text-center">
  <h1 class="display-5"><%= titulo %></h1>
  <a class="btn btn-primary btn-lg mt-3" href="/personajes">Ver personajes</a>
</div>

<%- include('includes/footer.ejs') %>